.title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    &_left {
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        text-align: left;
        line-height: 42px;
    }
    &_review {
        margin-bottom: 20px;
        line-height: 28px;
    }
}